body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/xv.png) repeat;
}

.center {
    text-align: center;
}


/** {
    font-family: 'Comfortaa', Arial, Noto Sans;
}*/

p {
    font-family: 'Comfortaa', Arial, Noto Sans;
    font-size: 14px;
}

.container-card {
    padding: 0px 1em 0px 1em;
    width: 100%;
}

.img-zoom {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.img-zoom:hover {
    transform: scale(2.75, 2.75);
    -webkit-transform: scale(2.75, 2.75);
    border: groove;
    -webkit-border: dotted;
}

.img-ronate {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.img-ronate:hover {
    transform: rotate(360deg) scale(1.22, 1.22);
    -webkit-transform: rotate(360deg) scale(1.22, 1.22);
}

.bg:hover {
    /*    transform: scale(1.02, 1.02);*/
    /*  box-shadow: 0 0px 5px rgba(52, 73, 94, 1);*/
}

.bg {
    cursor: unset;
    transition: all .3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
}

.box-card {
    margin: 10px;
    word-wrap: break-word;
    word-break: keep-all;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    /*box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);*/
}

.box-card:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
    box-shadow: 0 0px 20px rgba(52, 73, 94, 1);
    border-radius: 10px;
}

.no-mobile {}

.float-right {
    float: right;
}

.on-mobile {
    display: none;
}

.comfortaa {
    font-family: 'Comfortaa', Arial, Noto Sans;
}

.showlist {
    padding: 2em 3em 5em 3em;
    border-radius: 15px;
}


/*Medium Screen*/

@media only screen and (max-width: 1280px) and (min-width: 480px) {
    .showlist {
        margin: 0 auto;
        padding: 2em 10em 5em 10em;
        border-radius: 15px;
    }
    .container-card {
        padding: 0px 0.5em 0px 0.5em;
        width: 100%;
    }
}


/*On Mobile*/

@media only screen and (max-width: 800px) and (min-width: 320px) {
    .bg:hover {
        transform: scale(1, 1);
        box-shadow: 0 0px 0px rgba(52, 73, 94, 1);
    }
    .box-card:hover {
        transform: scale(1, 1);
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    }
    .showlist {
        padding: 3em 0.2em 2em 0.2em;
    }
    .no-mobile {
        display: none;
    }
    .container-card {
        padding: 0px .2em 0px .2em;
    }
    .on-mobile {
        display: block;
    }
    .quill-margin-left {
        margin-left: 0em;
    }
    .el-message-box {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        width: 320px;
        border-radius: 5px;
        font-size: 16px;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
}

.underline {
    text-decoration: underline;
}

.el-loading-mask {
    background-color: plum;
    transition: opacity .3s;
}

.bg-purple {
    background-color: purple;
}

.bg-indigo {
    background-color: indigo;
}


/*Element ui overwrite  */

.el-tabs__nav {
    left: 10%;
}

.el-loading-mask.is-fullscreen {
    position: fixed;
    z-index: 99999999;
}

.el-loading-mask.is-fullscreen .el-loading-spinner {
    margin-top: -205px
}

.el-loading-mask.is-fullscreen .el-loading-spinner .circular {
    width: 199px;
    height: 199px
}

.el-loading-spinner .el-loading-text {
    font-family: 'Comfortaa', Arial, Noto Sans;
    color: white;
    margin: 3px 0;
    padding: 55px;
    font-size: 40px
}

.el-loading-spinner .circular {
    width: 88px;
    height: 88px;
    animation: loading-rotate 2s linear infinite;
    -webkit-animation: loading-rotate 2s linear infinite;
}

.el-loading-spinner .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 5, 10;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: white;
    stroke-linecap: round
}

.el-loading-fade-enter,
.el-loading-fade-leave-active {
    opacity: 0
}

.el-tabs--border-card>.el-tabs__content {
    padding: .2px !important;
}

.el-tabs--border-card {
    background: #fff;
    border: 0px solid #d1dbe5;
    border-radius: 0px;
}

@media only screen and (max-width: 1124px) {
    .el-tabs__nav {
        left: 0%;
    }
}


/*On mobile */

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .el-loading-mask.is-fullscreen .el-loading-spinner {
        margin-top: -200px
    }
    .el-loading-mask.is-fullscreen .el-loading-spinner .circular {
        width: 159px;
        height: 159px
    }
    .el-loading-spinner .el-loading-text {
        font-family: 'Comfortaa', Arial, Noto Sans;
        color: white;
        margin: 0px 0;
        padding: 15px;
        font-size: 25px
    }
}

@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}


/*@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 5, 10;
        stroke-dashoffset: -40px
    }
    100% {
        stroke-dasharray: 5, 10;
        stroke-dashoffset: -120px;
    }
}
*/

@-webkit-keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 5, 10;
        stroke-dashoffset: -40px
    }
    100% {
        stroke-dasharray: 5, 10;
        stroke-dashoffset: -120px;
    }
}


/*Scroll-bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0px 6px 6px 6px gray;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px indigo;
}


/*Color */

.white {
    color: white !important;
}

.indigo {
    color: indigo !important;
}

.bg-teal {
    background-color: teal !important;
}

.bg-salmon {
    background-color: salmon !important;
}

.bg-lightgreen {
    background-color: lightgreen !important;
}

.bg-green {
    background-color: #2ecc71 !important;
}

.bg-red-pink {
    background-color: #D81B60 !important;
}

.bg-purple {
    background-color: purple !important;
}

.bg-orange {
    background-color: orange !important;
}